<h2>User info</h2>
<%= form_with model: @user do |f| %>
  <p>Name</p>
  <%= f.text_field :name %>
  <p>image</p>
  <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>

   <p>introduction</p>
  <%= f.text_area :body %>

  <%= f.submit "Update User" %>
<% end %>