 <!DOCTYPE html>
<html>
  <body>
    <h2>User info</h2>

    <p><%= image_tag @user.get_profile_image(100,100) %></p>

    <h5>name</h5>
    <h5><%= @user.name %></h5>

    <h5>introduction</h5>
    <h5><%= @user.introduction %></h5>
  <% end %>

    <p><%= link_to "プロフィール編集", edit_user_path(:id) %></p>


    <h2>New book</h2>
  <% books.each do |book| %>
    <%= form_with model: Book.new, url:'/books', methood: :post do |f| %>
    <div class="title">
      <p class="title-text">Title</p>
      <%= f.text_field :title %>
    </div>

    <div class="body">
      <p class="body-text">Opinion</p>
      <%= f.text_area :body %>
    </div>
    <div class="create"><%= f.submit 'Create Book' %></div>
   <% end %>
  <% end %>


   <h2>Users</h2>
   <table>
     <thead>
        <tr>
          <th>image</th>
          <th>name</th>
        </tr>
      </th>
  <% @users.each do |book| %>
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      </tbody>
    <% end %>

   </table>


