 <!DOCTYPE html>
<html>
  <body>
 <div class="container">
  <div class="row">
   <div class="col-4">
     <p></p>
      <h2>User info</h2>

        <p><%= image_tag @book.user.get_profile_image(100,100) %></p>

      <table class="table col-9">
        <tbody>
          <tr>

            <th>name</th>
            <th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @book.user.introduction %></th>
          </tr>
        </tbody>
      </table>


        <%= link_to edit_user_path(current_user.id), class:"btn btn-block border-secondary col-10" do %>
          <span class="fas fa-user-cog"></span>
        <% end %>


        <p></p>
        <h2>New book</h2>
        <%= form_with model: Book.new, url:'/books', methood: :post do |f| %>
        <div class="title">
          <p class="title-text">Title</p>
           <%= f.text_field :title, class:"col-9" %>
        </div>


       <p></p>
        <div class="body">
          <p class="body-text">Opinion</p>
            <%= f.text_area :body, class:"col-9" %>
        </div>
        <p></p>
        <%= f.submit 'Create Book', class:"btn-success btn-md w-30" %>
        <% end %>
        </div>


   <div class="col-8">
     <p></p>
     <h2>Book detail</h2>

       <table class="table">
         <tbody>
          <tr>

             <td><%= link_to user_path(@book.user.id) do %>
                  <%= image_tag current_user.get_profile_image(100,100) %></br>
                  <%= @book.user.name %>
                 <% end %></td>

             <td><%= link_to "#{@book.title}" %></td>
             <td><%= @book.body %></td>
             <% if @book.user == current_user %>
             <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success btn-sm" %></td>
             <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger btn-sm" %></td>
             <% end %>
          </tr>
         </tbody>
       </table>
       </div>
   </div>
</div>




   </body>
   </html>
