 <!DOCTYPE html>
<html>
  <body>




<p id="notice"></p>
 <div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">

      <h2>User info</h2>

        <p><%= image_tag @book.user.get_profile_image(100,100) %></p>

      <table class="table">
        <tbody>
          <tr>

            <th>name</th>
            <th><%= @book.user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @book.user.introduction %></th>
          </tr>
        </tbody>
      </table>

     <div class="row">
        <%= link_to edit_user_path(@book.user.id), class:"btn btn-block btn-outline-secondary" do %>
          <span class="fas fa-user-cog"></span>
        <% end %>
     </div>



        <h2 class="mt-3">New book</h2>
        <%= form_with model: Book.new, url:'/books', methood: :post do |f| %>
        <div class="form-group">
          <p class="book_title">Title</p>
           <%= f.text_field :title, class:"form-control book_title" %>
        </div>



        <div class="form-group">
          <p class="book-opinion">Opinion</p>
            <%= f.text_area :body, class:"form-control book_body" %>
        </div>

        <div class="form-group">
        <%= f.submit 'Create Book', class:"btn btn-success" %>
        </div>
        <% end %>
        </div>


   <div class="col-md-8 offset-md-1">

     <h2>Book detail</h2>

       <table class="table">
         <tbody>
          <tr>

             <td><%= link_to user_path(@book.user.id) do %>
                  <%= image_tag current_user.get_profile_image(100,100) %></br>
                  <%= @book.user.name %>
                 <% end %></td>

             <td><%= link_to "#{@book.title}" %></td>
             <td><%= @book.body %></td>
             <% if @book.user == current_user %>
             <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success btn-sm" %></td>
             <td><%= link_to "Destroy", book_path(@book), method: :delete, class:"btn btn-danger btn-sm" %></td>
             <% end %>
          </tr>
         </tbody>
       </table>
       </div>
   </div>
</div>




   </body>
   </html>
